<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuan.dynamic.datasource.infrastructure.mapper.secondary.TestMapper">
    <insert id="insert" parameterType="com.yuan.dynamic.datasource.infrastructure.po.TestInfo">
        INSERT INTO test(user_name, create_time, upd_time, password)
        VALUES (#{userName}, now(), now(), #{password})
    </insert>
</mapper>